<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>172130370135-pq73ossflt9go43fsk3im9ng5a1224b8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.172130370135-pq73ossflt9go43fsk3im9ng5a1224b8</string>
	<key>API_KEY</key>
	<string>AIzaSyD_U7v-6wKQkZ1JEraTVWsN_a6e6wHBMMw</string>
	<key>GCM_SENDER_ID</key>
	<string>172130370135</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ca.georgiancollege.ICES12A</string>
	<key>PROJECT_ID</key>
	<string>mdev1001-m2023-ice11-949d7</string>
	<key>STORAGE_BUCKET</key>
	<string>mdev1001-m2023-ice11-949d7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:172130370135:ios:fd86b5f6bc968700b55912</string>
</dict>
</plist>